.loginBtn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.loginButton{
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
  width: 80px;
  height: 40px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.logoutButton{
  margin-right: 20px;
  cursor: pointer;
}

.header{
    width: 100%;
    background-color: gray;
    text-align: right; 
}

.header > h1 {
  font-size: 22px;
  display: inline-block;
  margin-right: 12px;
}

.dynamicSearch{
  border: 2px solid rgb(8, 127, 173);
  border-radius: 6px;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 200px;
  height: 20px;
}

.matrixCards{
  width: 656px;
  position: relative;

  /* text-align: center; */
  margin: auto;
  margin-top: 10px;
  
}